<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzk.mapper.ImgMapper">
    <insert id="addImg" parameterType="com.lzk.entity.Img">
        INSERT INTO IMGS VALUES(#{id}, #{url}, #{imgName}, #{place}, #{uploadTime}, #{uploader},
        #{photoTagId}, #{safeCount},#{finalMan}, #{finalTime}, #{reportId},#{mark}, #{isOpe}, #{show});
    </insert>
    <update id="changeImg" parameterType="com.lzk.entity.Img">
        UPDATE IMGS
        <set>
            <if test="imgName!=null">
                imgName = #{imgName},
            </if>
            <if test="place!=null">
                place = #{place},
            </if>
            <if test="photoTagId!=null">
                photoTagId = #{photoTagId},
            </if>
            <if test="finalMan!=null">
                finalMan = #{finalMan},
            </if>
            <if test="finalTime!=null">
                finalTime = #{finalTime},
            </if>
            <if test="safeCount!=null">
                safeCount = #{safeCount},
            </if>
            <if test="mark!=null">
                mark = #{mark},
            </if>
            <if test="isOpe!=null">
                isOpe = #{isOpe},
            </if>
            <if test="uploader!=null">
                uploader = #{uploader},
            </if>
            <if test="show!=null">
                `show` = #{show}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <delete id="delImg" parameterType="com.lzk.entity.Img">
        DELETE FROM IMGS
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
        </where>
    </delete>

    <select id="findImgsPage" resultType="com.lzk.entity.Img">
        SELECT * FROM IMGS
        <where>
            <if test="a.id!=null">
                id = #{a.id}
            </if>
            <if test="a.uploader!=null">
                and uploader = #{a.uploader}
            </if>
            <if test="a.photoTagId!=null">
                and photoTagId = #{a.photoTagId}
            </if>
<!--           TODO 如果字段是数据库内置字段 需要加上` ` 否则报错-->
            <if test="a.show!=null">
                and `show` = #{a.show}
            </if>
            <if test="a.uploadTime!=null">
                and DATE(uploadTime) = #{a.uploadTime}
            </if>
            <if test="a.start!=null and a.end !=null">
                and uploadTime BETWEEN #{a.start} AND #{a.end}
            </if>
            <if test="a.isOpe!=null">
                and isOpe = #{a.isOpe}
            </if>
            <if test="a.safeCount!=null">
                and safeCount = #{a.safeCount}
            </if>
        </where> ORDER BY REPORTID
    </select>
    <select id="getAllReportIdPage" parameterType="com.lzk.entity.Img" resultType="java.lang.String">
        SELECT DISTINCT reportId FROM IMGS <where>
        <if test="a.id!=null">
                id = #{a.id}
        </if>
        <if test="a.uploader!=null">
                and uploader = #{a.uploader}
        </if>
        <if test="a.photoTagId!=null">
                and photoTagId = #{a.photoTagId}
        </if>
        <if test="a.show!=null">
                and `show` = #{a.show}
        </if>
        <if test="a.start!=null and a.end !=null">
                and uploadTime BETWEEN #{a.start} AND #{a.end}
        </if>
        <if test="a.isOpe!=null">
                and isOpe = #{a.isOpe}
        </if>
        <if test="a.isJude!=null">
            <if test='a.isJude=="0"'>
                and safeCount = "-1"
            </if>
            <if test='a.isJude=="1"'>
                and id IN (SELECT DISTINCT imgId From InferImg)
            </if>
        </if>
    </where>
    </select>
    <select id="findImgs" parameterType="com.lzk.entity.Img" resultType="com.lzk.entity.Img">
        SELECT * FROM IMGS <where>
        <if test="id!=null">
                id = #{id}
        </if>
        <if test="uploader!=null">
                and uploader = #{uploader}
        </if>
        <if test="photoTagId!=null">
                and photoTagId = #{photoTagId}
        </if>
        <if test="show!=null">
                and `show` = #{show}
        </if>
        <if test="uploadTime!=null">
                and DATE(uploadTime) = #{uploadTime}
        </if>
        <if test="isOpe!=null">
                and isOpe = #{isOpe}
        </if>
        <if test="safeCount!=null">
                and safeCount = #{safeCount}
        </if>
        <if test="reportId!=null">
                and reportId = #{reportId}
        </if>
        <if test="mark!=null">
                and mark = #{mark}
        </if>
        <if test="finalMan!=null">
                and finalMan = #{finalMan}
        </if>
    </where>
    </select>
    <select id="getAllReportId" parameterType="com.lzk.entity.Img" resultType="java.lang.String">
        SELECT DISTINCT reportId FROM IMGS <where>
        <if test="id!=null">
            id = #{id}
        </if>
        <if test="uploader!=null">
            and uploader = #{uploader}
        </if>
        <if test="photoTagId!=null">
            and photoTagId = #{photoTagId}
        </if>
        <if test="show!=null">
            and `show` = #{show}
        </if>
        <if test="uploadTime!=null">
            and DATE(uploadTime) = #{uploadTime}
        </if>
        <if test="isOpe!=null">
            and isOpe = #{isOpe}
        </if>
        <if test="safeCount!=null">
            and safeCount = #{safeCount}
        </if>
        <if test="reportId!=null">
            and reportId = #{reportId}
        </if>
        <if test="mark!=null">
            and mark = #{mark}
        </if>
        <if test="finalMan!=null">
            and finalMan = #{finalMan}
        </if>
    </where>
    </select>
</mapper>