<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.defectscan.mapper.ImgDetectMapper">
    <update id="updateImgDetectList" parameterType="java.util.List">
        <foreach collection="detectImgList" item="item" separator=";">
            UPDATE imgs
            SET
            <if test="item.detectLocalUrl != null">
                detectLocalUrl = #{item.detectLocalUrl},
            </if>
            <if test="item.detectAliyunUrl != null">
                detectAliyunUrl = #{item.detectAliyunUrl},
            </if>
            <if test="item.detectTime != null">
                detectTime = #{item.detectTime},
            </if>
            <if test="item.defectTagId != null">
                defectTagId = #{item.defectTagId},
            </if>
            <if test="item.defectCount != null">
                defectCount = #{item.defectCount},
            </if>
            <if test="item.confidenceLevel != null">
                confidenceLevel = #{item.confidenceLevel},
            </if>
            <if test="item.updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="item.updateUser != null">
                updateUser = #{updateUser},
            </if>
            <if test="item.isPpe != null">
                isPpe = #{item.isPpe}
            </if>
            WHERE id = #{item.id} AND imageName = #{item.imageName}
        </foreach>
    </update>
    <select id="selectImgByUrl" parameterType="string" resultType="com.defectscan.entity.Img">
        SELECT *
        FROM imgs
        <where>
            <if test="originalLocalUrl != null and originalLocalUrl != ''">
                and originalLocalUrl = #{url}
            </if>
            <if test="originalAliyunUrl != null and originalAliyunUrl != ''">
                or originalAliyunUrl = #{url}
            </if>
        </where>
    </select>

</mapper>